// html setting
a:hover {
    text-decoration: none;
    transition: 0.3s;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

// Color setting
$color-1: #6E7783;
$color-2: #77AAAD;
$color-3: #9DC3C1;
$sub-color: #F3C69B;

// common setting
.dis-flex {
    display: flex;
}

.ver-center {
    display: flex;
    align-items: center;
    justify-content: space-bewteen;
}

.text-center {
    text-align: center;
}

.col-margin {
    display: block;
    margin-bottom: 40px;
}

.overflow {
    overflow-y: hidden;
}

.badge-pc {
    color: white;
    background-color: #FFA09B;
}

.badge-mobile {
    color: white;
    background-color: #F5CF74;
}

// mixin
@mixin circle($w, $h:$w) {
    width: $w;
    height: $h;
    border-radius: 50%;
}


// navbar
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    color: $color-1;
    transition: 0.3s;
    padding-top: 20px;
    z-index: 10;
    &.nav-active {
        color: white;
        background: $color-2;
        box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
        padding-top: 8px;
    }
    a {
        color: inherit;
    }
    .overlay {
        transition: opacity 300ms, visibility 300ms;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: -2;
        top: 60px;
        width: 100%;
        height: 100%;
        background: #000;
        width: 100vw;
        height: calc(100vh - 60px);
        &.menu_open {
            visibility: visible;
            opacity: 0.6;
            z-index: 100;
        }
    }
}

.menu-nav {
    display: flex;
}

.menu-collapse {
    display: flex;
    align-items: center;
}

.menu-switch {
    float: right;
    border: 0;
    background: transparent;
    text-align: center;
    color: white;
    padding: 21px 15px;
    width: auto;
}

.hamburger {
    display: block;
    position: relative;
    width: 25px;
    height: 8px;
    margin: 6px auto 4px;
    border-top: 2px solid white;
    transition: 0.3s;
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 13px;
        width: 2px;
        height: 25px;
        overflow: hidden;
        background: white;
        transition: 0.3s;
    }
    &:before {
        top: -10px;
        transform: translate(-100%, -50%) rotate(-90deg);
    }
    &:after {
        top: -16px;
        transform: translate(-100%, 50%) rotate(90deg);
    }
    &.active {
        &:before,
        &:after {
            border-top: none;
            margin: 0;
            left: 14px;
            transition: 0.3s;
        }
        &:before {
            transform: translate(0%, -15%) rotate(90deg);
        }
        &:after {
            transform: translate(-100%, 9%) rotate(-90deg);
        }
    }
}

// section
.sec-content {
    padding: 60px 20px;
    color: $color-1;
}

.first-sec {
    padding: 100px 20px 60px;
    color: $color-1;
}

#anc-skill {
    box-shadow: inset 0px 15px 20px -12px #CCC , inset 0px -15px 20px -12px #CCC;
    background: #f2f2f2;
}

#anc-experience {
    position: relative;
    background-image: url('../images/banner/bg.jpg');
    background-attachment: fixed;
    @extend .img-fit;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
    }
}

.about-body {
    margin-left: 20px;
}

.box-circle {
    margin: 0 auto 30px;
    padding: 2px;
    color: white;
    @include circle(100px);
    background: linear-gradient($color-3 30%, $color-2 100%);
    box-shadow: 2px 6px 17px 0px black;
    transition: 0.3s;
    &:active {
        position: relative;
        top: -1px;
        left: -1px;
        background: red;
    }
    &:hover {
        border-radius: 12px;
        transform: rotate(135deg);
        box-shadow: 0px -1px 20px 0px #000 inset;
        background: #9DC3C1;
    }
}

.mar-auto {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: inherit;
    width: inherit;
    transition: 0.3s;
    &:hover {
        top: 1px;
        left: 1px;
        transform: rotate(-135deg);
    }
}


// content
.section-header {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 40px;
    #anc-experience &{
        color: white;
    }
}

.info-author {
    color: inherit;
    margin: 20px 0;
}

.info-txt {
    color: inherit;
    text-align: justify;
    &:last-of-type {
        margin-bottom: 30px;
    }
}

.sub-txt {
    font-size: 16px;
    font-weight: 400;
    color: $color-1;
}

.portfolio-name {
    margin-bottom: 0;
    color: $color-3;
}

// images
.img-block {
    padding: 31% 0;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.1);
    &:hover {
        position: relative;
        top: -5px;
    }
}

.img-fit {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-radius {
    border-radius: 5px;
}

// portfolio
.timeline-exper {
    margin: 0 5px 30px;
    padding: 20px;
    box-shadow: 3px 3px 11px #0000001c;
    background-color: white;
    border-radius: 5px;
    &:hover {
        position: relative;
        top: -5px;
        .exper-jub {
            background: #F46E77;
            clip-path: polygon(0% 0%, 0% 90%, 50% 70%, 100% 90%, 100% 0);
        }
    }
}

.timeline-period {
    display: flex;
    justify-content: center;
}

.exper-jub {
    height: 3.5rem;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    background: $color-2;
    clip-path: polygon(0% 0%, 0% 70%, 50% 100%, 100% 70%, 100% 0);
    transition: 0.3s;
}

.exper-content {
    padding-bottom: 20px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 10px;
    height: 7em;
}

.exper-company {
    margin-bottom: 0;
}

.exper-period {
    font-size: 12px;
    margin-bottom: 0;
}


// footer
footer {
    position: relative;
    background: $color-1;
    padding: 10px 20px;
    color: white;
}

.contact-ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    footer & {
        margin-left: auto;
    }
    .menu-collapse & {
        font-size: 20px;
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        .contact-href {
            margin: 0 10px;
        }
    }
}

.contact-li {
    margin-right: 15px;
}

.author {
    margin-bottom: 0;
    color: inherit;
}

.contact-href {
    color: inherit;
    &:hover {
        color: $color-2;
    }
}

// icon
.icon-map {
    color: #ef860f;
}

// back-to-top
.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    background: $color-3;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    opacity: 0;
    &.show {
        opacity: 1;
    }
    &:hover {
        color: inherit;
        background: $color-2;
    }
}

// response
@media screen and (max-width:768px) {
    .menu-collapse {
        display: none;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 20px;
        background-color: #9cc3c1eb;
        z-index: 3;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2) inset;
    }
    .menu-nav{
        display: block;
        padding-left: 0;
    }
}

@media screen and (min-width:769px) {
    .menu-switch {
        display: none;
    }
    .menu-collapse {
        .contact-ul {
            margin-top: 0;
            padding-top: 0px;
            border-top: 0;
        }
    }
    .sec-content {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .first-sec {
        padding-top: 150px;
    }
    footer {
        display: flex;
        align-items: center;
        .contact-ul {
            display: flex;
        }
    }
}