@import 'lib/variables';
@import 'lib/placeholders';
@import 'lib/mixin';
@import 'lib/function';
@import 'lib/layout';

html,
body {
    height: 100%;
    font-family: $font;
    font-style: normal;
    color: $text-color;

    &.stop-scroll {
        overflow: hidden;
    }
}

body {
    position: relative;
    opacity: 0;
    background: #fff;

    &.loaded {
        opacity: 1;
        transition: opacity 1s ease;
    }
}

.container {
    max-width: 1024px;
}

img {
    display: block;
}

// section
.section {
    padding: 80px 0;

    @include bp-md {
        padding: 120px 0;
    }

    &_inner {
        width: 100%;
    }

    &_header {
        text-align: center;
        margin-bottom: 3rem;
        #about & {
            margin-bottom: 2rem;
            background: #313131;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
            padding: 10px 20px;
            border-radius: 5px;
        }
    }

    &_title,
    &_subtitle {
        margin: 0;
        font-weight: bold;
    }

    &_title {
        #about & {
            font-size: 24px;
            text-align: left;
        }
    }

    &_subtitle {
        #about & {
            font-size: 16px;
        }
    }
}

.about {
    @extend %darkBg;

    &_title {
        font-size: 28px;
        font-weight: bold;
        margin-top: 5px;
    }

    &_author {
        font-size: 20px;
    }

    &_skills {
        margin-top: 60px;
        @include bp-md {
            margin-top: 100px;
        }
    }

    &_content {
        position: relative;
    }

    &_detail {
        color: $text-lighter;
        padding: 15px;
        border-radius: 5px;
        background: #313131;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        @include bp-sm {
            padding: 30px;
        }
    }

    &_contact {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &_link {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        color: $text-lighter;
        background: $main;

        &:hover {
            color: $main;
            background: $text-lighter;
        }
    }

    &_pic {
        margin-bottom: 1rem;
        @include bp-sm {
            margin-bottom: 0;
        }
    }

    &_img {
        display: block;
    }
}

.experience {
    @extend %lightBg;
}

.works {
    @extend %darkBg;
}

.practice {
    @extend %lightBg;

    &_item {
        margin-bottom: 1rem;
    }
}

// timeline
.timeline {
    border-radius: 5px;

    @include bp-sm {
        background-color: white;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        padding: 50px 30px;
    }

    .is\:off {
        pointer-events: auto;
    }

    &_time {
        margin-bottom: 10px;
    }
}

// compontent
.menunav {
    $this: 'menunav';

    position: fixed;
    z-index: 100;

    &.sty-mb {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: $dark-bg;
        @extend %flexCenter;
        @include bp-sm {
            display: none;
        }

        .#{$this}_txt {
            display: inline-block;
            font-weight: bold;
            opacity: 0;
            width: 0;
            overflow: hidden;
            white-space: nowrap;
        }

        .#{$this}_item {
            height: 100%;
            width: 50px;
            @extend %flexCenter;
            transition: all 0.5s;

            &:last-child {
                border-right: 0;

                color: $text-lighter;
                background: $main;
            }

            &.active {
                color: $white;
                width: calc(100% - 150px);
                box-shadow: inset 0px 0px 9px 0px $text-color;
                background: $secMain;

                .#{$this}_txt {
                    opacity: 1;
                    width: auto;
                    margin-left: 5px;
                }
            }
        }
    }

    &.sty-pc {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        display: none;
        @include bp-sm {
            display: block;
        }

        .#{$this}_item {
            @extend %flexCenter;
            flex-direction: row-reverse;
            margin: 20px 0;

            &:hover,
            &.active {
                .#{$this}_icon {
                    background: $secMain;
                    color: #202020;

                    &:before {
                        width: 35px;
                        height: 35px;
                        border: 1px solid $secMain;
                    }

                    &:after {
                        opacity: 0;
                    }
                }
            }

            &:hover {
                .#{$this}_txt {
                    font-size: 14px;
                    right: 35px;
                    opacity: 1;
                    color: $secMain;
                }
            }

            &:last-child {
                &:hover,
                &.active {
                    .#{$this}_icon {
                        background: $main;

                        &:before {
                            border: 1px solid $main;
                        }
                    }

                    .#{$this}_txt {
                        color: $main;
                    }
                }

                .#{$this}_icon {
                    background: $main;
                }
            }
        }

        .#{$this}_txt {
            position: absolute;
            z-index: 1;
            right: -100%;
            margin-right: 5px;
            white-space: nowrap;
            font-size: 12px;
            color: $text-lighter;
            transition: all 0.5s;
            opacity: 0;
        }

        .#{$this}_icon {
            position: relative;
            background: $grey;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            color: $white;
            @extend %flexCenter;
            transition: all 0.5s;

            &:before,
            &:after {
                @extend %void;
                @include absPos(50%);
                border-radius: 50%;
                width: 25px;
                height: 25px;
                border: 1px solid $text-lighter;
                transition: all 0.5s;
            }
        }
    }
}

.card {
    border: 0;
    margin-bottom: 1.5rem;
    transition: 0.5s;

    &_media {
        position: relative;
    }

    &_gallery {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
    }

    &_name {
        margin-bottom: 1rem;
        overflow: hidden;
        height: calc(2rem * 1.375);
    }

    &_body {
        .card_link {
            margin-bottom: 1rem;
        }
    }

    &_link {
        display: block;
    }

    &:hover {
        transform: translateY(-10px);
    }

    &_link.off {
        pointer-events: none;
    }
}

.circle {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    padding-left: 12px;

    &_icon {
        position: absolute;
        top: 11px;
        left: 8px;
        width: 10px;
        height: 10px;
        font-size: 25px;
        border-radius: 5px;
        color: #202020;

        .about_skills & {
            background-color: $secMain;
        }

        .about_dev & {
            background-color: #3282ce;
        }
    }

    &_info {
        flex: 1;
        padding-left: 1rem;
        min-height: calc(1rem * 1.625);
    }

    &_title {
        font-size: 20px;
        color: $text-lighter;
    }

    &_txt {
        min-height: 52px;
        margin: 0;
    }

    &_box {
        margin: 0 auto 30px;
        padding: 2px;
        color: $text-lighter;
        width: 100%;
        height: 100px;
        border-radius: 3px;
        transition: 0.3s;
        font-size: 24px;
        font-weight: bold;
        @extend %flexCenter;
    }
}

[data-lazy='lazy'] {
    transition: 1s all;
    background-size: 130% 130%;
    background-position: centerr bottom;

    &.loaded {
        background-size: 105% 105%;
        transform: translate(0, 0);
        background-position: center center;
    }
}

.embed {
    &_lazy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #f1f1f1;
        z-index: 2;

        &.uncover {
            animation: uncover 1s ease-in-out forwards;
            animation-delay: 0.3s;
        }
    }
}

@keyframes uncover {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.modal {
    &_container {
        width: 80vh;
        max-width: 900px;
    }

    .thumb {
        display: flex;
        width: 100%;

        &_item {
            width: 20%;
            margin-right: 10px;
        }

        .embed_media {
            background-size: auto 100%;
        }
    }
}
