<!DOCTYPE html>
<html>

<head>
    <title>Ann Lin</title>
    <meta charset="utf-8">
    <meta name="description" content="HI，我是純安，熟悉HTML＆CSS、基本修圖、JS與Jquery，以及應用Vue.js、Nuxt.js等開發框架。">
    <meta name="author" content="Ann-Lin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.8, maximum-scale=2.0">
    <link rel="stylesheet" type="text/css" href="css/lazy4.css">
    <link rel="stylesheet" type="text/css" href="css/lazy4-colours.css">
    <link rel="stylesheet" type="text/css" href="css/all.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body id="top">

    <div id="app">

        <section id="about" class="section about u-shadow">
            <div class="section_inner">
                <div class="container">
                    <div class="f-row">
                        <div class="f-col:12 f-col@sm:5">
                            <div class="info-pic">
                                <img src="https://images.pexels.com/photos/3617457/pexels-photo-3617457.jpeg?cs=srgb&dl=pexels-3617457.jpg&fm=jpg"
                                    class="box-radius">
                                <!-- <div class="embed">
                                <span class="embed_media"
                                    style="background-image: url(https://images.pexels.com/photos/3617457/pexels-photo-3617457.jpeg?cs=srgb&dl=pexels-3617457.jpg&fm=jpg)"></button>
                            </div> -->
                            </div>
                        </div>
                        <div class="f-col:12 f-col@sm:7">
                            <h2 class="info-author">Ann Lin</h2>
                            <h4 class="info-author">態動決天散 <span class="sub-txt">態動決天散</span></h4>
                            <p class="info-txt">
                                態動決天散，老因神是人母是只下輪待家得美做個我我著決期過隨作不生老也必究日一表魚位學童日的方花我晚求量成得及：吃至畫不委正年水官到人。離寫養手種認演長基體益蘭日；火國勢不特？容吃三較師樹不生獨快？境標已五總我、最色人覺她頭知不太太可，師年的進條香家而整西消產系爭落升排加。金會球問事好酒再自一單到。自樣的，親受保魚麼積統老。
                            </p>
                            <p class="info-txt">
                                又子相，府許紙說物慢步了一園的光特影做在：送型生動解卻……就大德道：風有關盡主而太表究我關是期：方工任坐像保全、那灣客裡跟得你家問險讀經難大銀國，服的達……評高養際構的有年只哥國是爾坐了……員四是裡接優我水的信色原滿著照詩育新高色任：師時的是詩己但無絕光起候招，見起。
                            </p>
                            <!-- <ul class="contact-ul">
                            <li class="contact-li"><a href="mailto:anagg5509@gmail.com" class="contact-href"><i
                                        class="fas fa-envelope"></i>
                                    anagg5509@gmail.com</a></li>
                        </ul> -->

                        </div>
                    </div>
                    <div class="about_skills">
                        <div class="f-row">
                            <div class="f-col:12 f-col@sm:6  f-col@md:4">
                                <div class="circle">
                                    <div class="circle_icon u-shadow"><i class="fab fa-html5"></i></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <a class="mar-auto">HTML5 / CSS3</a>
                                        </div>
                                        <p>CSS Framework、SCSS
                                            <br />切版、更新與維護</p>
                                    </div>
                                </div>
                            </div>
                            <div class="f-col:12 f-col@sm:6  f-col@md:4">
                                <div class="circle">
                                    <div class="circle_icon u-shadow"><i class="fab fa-js"></i></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <a class="mar-auto">JS / JQuery</a>
                                        </div>
                                        <p>撰寫動態效果</p>
                                    </div>
                                </div>
                            </div>
                            <div class="f-col:12 f-col@sm:6  f-col@md:4">
                                <div class="circle">
                                    <div class="circle_icon u-shadow"><i class="fab fa-vuejs"></i></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <a class="mar-auto">Vue.js / Nuxt.js</a>
                                        </div>
                                        <p>開發網站、元件功能應用</p>
                                    </div>
                                </div>
                            </div>
                            <div class="f-col:12 f-col@sm:6  f-col@md:4">
                                <div class="circle">
                                    <div class="circle_icon u-shadow"><i class="fas fa-paint-brush"></i></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <a class="mar-auto">Adobe PS / XD</a>
                                        </div>
                                        <p>切版、基礎修圖與設計</p>
                                    </div>
                                </div>
                            </div>
                            <div class="f-col:12 f-col@sm:6  f-col@md:4">
                                <div class="circle">
                                    <div class="circle_icon u-shadow"><i class="fas fa-theater-masks"></i></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <a class="mar-auto">Spark AR Studio</a>
                                        </div>
                                        <p>FB、IG 拍照變臉、互動設計</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section id="skill" class="section skill">
            <div class="section_inner">
                <div class="container">
                    <div class="section_header u-clr:light">
                        <h2 class="section_title">技能</h2>
                        <p class="section_subtitle">Skills</p>
                    </div>
                    <div class="f-row">
                        <div class="f-col:12 f-col@sm:6  f-col@md:4">
                            <div class="circle">
                                <div class="circle_icon u-shadow"><i class="fab fa-html5"></i></div>
                                <div class="circle_info">
                                    <div class="circle_title">
                                        <a class="mar-auto">HTML5 / CSS3</a>
                                    </div>
                                    <p>CSS Framework、SCSS
                                        <br />切版、更新與維護</p>
                                </div>
                            </div>
                        </div>
                        <div class="f-col:12 f-col@sm:6  f-col@md:4">
                            <div class="circle">
                                <div class="circle_icon u-shadow"><i class="fab fa-js"></i></div>
                                <div class="circle_info">
                                    <div class="circle_title">
                                        <a class="mar-auto">JS / JQuery</a>
                                    </div>
                                    <p>撰寫動態效果</p>
                                </div>
                            </div>
                        </div>
                        <div class="f-col:12 f-col@sm:6  f-col@md:4">
                            <div class="circle">
                                <div class="circle_icon u-shadow"><i class="fab fa-vuejs"></i></div>
                                <div class="circle_info">
                                    <div class="circle_title">
                                        <a class="mar-auto">Vue.js / Nuxt.js</a>
                                    </div>
                                    <p>開發網站、元件功能應用</p>
                                </div>
                            </div>
                        </div>
                        <div class="f-col:12 f-col@sm:6  f-col@md:4">
                            <div class="circle">
                                <div class="circle_icon u-shadow"><i class="fas fa-paint-brush"></i></div>
                                <div class="circle_info">
                                    <div class="circle_title">
                                        <a class="mar-auto">Adobe PS / XD</a>
                                    </div>
                                    <p>切版、基礎修圖與設計</p>
                                </div>
                            </div>
                        </div>
                        <div class="f-col:12 f-col@sm:6  f-col@md:4">
                            <div class="circle">
                                <div class="circle_icon u-shadow"><i class="fas fa-theater-masks"></i></div>
                                <div class="circle_info">
                                    <div class="circle_title">
                                        <a class="mar-auto">Spark AR Studio</a>
                                    </div>
                                    <p>FB、IG 拍照變臉、互動設計</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <section id="experience" class="section experience">
            <div class="section_inner">

                <div class="container">
                    <div class="section_header">
                        <h2 class="section_title">工作經驗</h2>
                        <p class="section_subtitle">Experience</p>
                    </div>
                    <div class="timeline">
                        <div class="timeline_item clr:fire" v-for="(item,i) in exps"
                            :class="{'is:on': i == 0, 'is:off': i !== 0}">
                            <div class="timeline_axis"></div>
                            <time class="timeline_time">{{item.date}}</time>
                            <div class="timeline_content">
                                <h4>{{item.jobTitle}}</h4>
                                <p class="timeline_txt">{{item.jobInfo}}</p>
                                <a :href="item.address" class="icon-map" target="_blank"><i
                                        class="fas fa-map-marker-alt"></i> {{item.company}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="works" class="section works">
            <div class="container">
                <div class="section_header">
                    <h2 class="section_title u-clr:light">參與作品</h2>
                    <p class="section_subtitle">Project</p>
                </div>
                <div class="works_list f-row">
                    <div class="works_item f-col:12 f-col@sm:6 f-col@md:4" v-for="(item, i) in works">
                        <div class="card u-shadow">
                            <div class="card_media">

                                <a :href="item.url" class="col-margin" target="_blank">
                                    <div class="embed :5by4">
                                        <span class="embed_media"
                                            :style="{backgroundImage: 'url(images/portfolio/' + item.imgUrl + ')' }"></span>
                                    </div>
                                </a>

                                <div class="card_gallery" v-if="item.gallery">
                                    <div class="btn-grp :united :square">
                                        <button class="btn"><i class="fas fa-images"></i></button>
                                    </div>
                                </div>
                            </div>
                            <main class="card_body">
                                <a :href="item.url" class="card_link" target="_blank">
                                    <h6 class="card_name">{{item.name}}</h6>
                                </a>
                                <div class="tag sz:sm clr:silver">
                                    <span class="tag_txt">{{formatedTech(item.media)}}</span>
                                </div>
                                <slot v-if="item.tech">
                                    <div class="tag sz:sm" v-for="(el,i) in item.tech" :class="['clr:'+el.color]">
                                        <span class="tag_txt">{{el.name}}</span>
                                    </div>
                                </slot>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="practice" class="section practice">
            <div class="container">
                <div class="section_header">
                    <h2 class="section_title">趣味・遊戲</h2>
                    <p class="section_subtitle">Practice・Idea・Fun</p>
                </div>
                <div class="f-row">
                    <div class="f-col:12 f-col@sm:6 f-col@md:4" v-for="(item,i) in fun">
                        <div class="card u-shadow">
                            <div class="card_media">
                                <a :href="item.item" class="col-margin" target="_blank">
                                    <div class="embed :5by4">
                                        <span class="embed_media"
                                            :style="{backgroundImage: 'url(images/fun/' + item.imgUrl + ')' }"></span>
                                    </div>
                                </a>

                                <div class="card_gallery" v-if="item.gallery">
                                    <div class="btn-grp :united :square">
                                        <button class="btn"><i class="fas fa-images"></i></button>
                                    </div>
                                </div>
                            </div>
                            <main class="card_body">
                                <a :href="item.item" class="card_link" target="_blank">
                                    <h6 class="card_name">{{item.name}}</h6>
                                </a>
                                <div class="tag sz:sm clr:silver">
                                    <span class="tag_txt">{{formatedTech(item.media)}}</span>
                                </div>
                                <slot v-if="item.tech">
                                    <div class="tag sz:sm" v-for="(el,i) in item.tech" :class="['clr:'+el.color]">
                                        <span class="tag_txt">{{el.name}}</span>
                                    </div>
                                </slot>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="cursor js-cursor active"></div>

        <div class="menunav sty-mb">
            <template v-for="(item,i) in menu.items">
                <a :href="'#'+item.anchor" class="menunav_item" :class="{'active': menu.sec == i+1}" :key="i"
                    @click.prevent="goAnchor(item.anchor, i+1)">
                    <span class="menunav_icon"><i :class="item.icon"></i></span>
                    <span class="menunav_txt">{{item.name}}</span>
                </a>
            </template>
            <a href="mailto:anagg5509@gmail.com" class="contact-href menunav_item" target="_blank">
                <span class="menunav_icon"><i class="fas fa-envelope"></i></span>
                <span class="menunav_txt">Contact Me</span>
            </a>
        </div>

        <div class="menunav sty-pc">
            <template v-for="(item,i) in menu.items">
                <a :href="'#'+item.anchor" class="menunav_item" :class="{'active': menu.sec == i+1}" :key="i"
                    @click.prevent="goAnchor(item.anchor, i+1)">
                    <span class="menunav_icon"><i :class="item.icon"></i></span>
                    <span class="menunav_txt">{{item.name}}</span>
                </a>
            </template>
            <a href="mailto:anagg5509@gmail.com" class="contact-href menunav_item" target="_blank">
                <span class="menunav_icon"><i class="fas fa-envelope"></i></span>
                <span class="menunav_txt">Contact Me</span>
            </a>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>

</html>