<!DOCTYPE html>
<html lang="zh-Hant" itemscope itemtype="http://schema.org/WebSite" xmlns:og="http://ogp.me/ns#"
    xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="cache-control" content="public">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#232323">

    <meta name="robots" content="index, follow">
    <meta name="spiders" content="all">
    <meta name="webcrawlers" content="all">
    <meta name="rating" content="general">

    <meta name="author" content="Ann Lin">
    <meta name="copyright" content="Ann Lin">
    <meta name="distribution" content="Taiwan">

    <meta name="url" content="">
    <meta name="description" content="HI，我是純安，熟悉HTML＆CSS、JS與Jquery，以及應用Vue.js、Nuxt.js等開發框架。">
    <meta name="keywords" content="HI，我是純安，熟悉HTML＆CSS、JS與Jquery，以及應用Vue.js、Nuxt.js等開發框架。" />
    <meta itemprop="name" content="Ann Lin">
    <meta itemprop="description" content="HI，我是純安，熟悉HTML＆CSS、JS與Jquery，以及應用Vue.js、Nuxt.js等開發框架。">
    <meta itemprop="image" content="images/opengraph.jpg">

    <meta property="og:title" content="Ann Lin" />
    <meta property="og:description" content="HI，我是純安，熟悉HTML＆CSS、JS與Jquery，以及應用Vue.js、Nuxt.js等開發框架。" />
    <meta property="og:image" content="images/opengraph.jpg">

    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="images/favcion.png">
    <link rel="bookmark" href="images/favcion.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <link rel="stylesheet" type="text/css" href="css/lazy4.css">
    <link rel="stylesheet" type="text/css" href="css/lazy4-colours.css">
    <link rel="stylesheet" type="text/css" href="css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Ann Lin</title>
</head>

<body>

    <div id="app">

        <section id="about" class="section about u-shadow">
            <div class="section_inner">
                <div class="container about_content">
                    <div class="f-row">
                        <div class="f-col:12 f-col@sm:4">
                            <div class="about_pic">
                                <img src="images/ann.jpg" class="box-radius about_img" alt="hi我是純安">
                            </div>
                        </div>
                        <div class="f-col:12 f-col@sm:8">
                            <div class="about_detail">
                                <h2 class="about_author">Front-end Engineer</h2>
                                <h1 class="about_title">HI! <span class="sub-txt">我是純安 (ANN)</span></h1>
                                <p class="about_txt">
                                    從大學接觸程式開始，就對程式能夠將具現化功能與視覺很感興趣，也就決定日後要從事網站開發的相關工作。至今已有近四年的工作經驗與實習經驗。</p>
                                <p class="about_txt">開發主要使用 HTML / SCSS 、 Vue.js 、JS / JQuery、Zeplin 開發網站，也能操作基本 Adobe
                                    PSD 與繪製 Adobe XD。</p>
                                <p class="about_txt">
                                    紀錄生活的Idea，將 Idea 轉為功能<br>喜歡嘗試與學習新的技術與方法，樂於和同事討論分享。<br>享受將功能拆解成一個個步驟，再一一達成的過程。
                                </p>
                                <ul class="about_contact">
                                    <li class="about_contact_item">
                                        <a href="mailto:ann@kule.tw" class="about_link" target="_blank" rel="noopener">
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="about_skills">
                        <div class="f-row">
                            <div class="f-col:12 f-col@sm:6 f-col@lg:4">
                                <div class="section_header">
                                    <h2 class="section_title u-clr:light">前端開發
                                        <span class="section_subtitle u-clr:light">/ Skill</span>
                                    </h2>
                                </div>
                                <div class="circle">
                                    <div class="circle_icon u-shadow"></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <p>HTML / SCSS</p>
                                        </div>
                                        <p class="circle_txt">響應式網站切版、更新與維護</p>
                                    </div>
                                </div>
                                <div class="circle">
                                    <div class="circle_icon u-shadow"></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <p>JS / JQuery</p>
                                        </div>
                                        <p class="circle_txt">網站動態撰寫，如滾動視差、錨點滾動</p>
                                    </div>
                                </div>
                                <div class="circle">
                                    <div class="circle_icon u-shadow"></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <p>Vue.js / Nuxt.js</p>
                                        </div>
                                        <p class="circle_txt">網站開發、資料與狀態控制</p>
                                    </div>
                                </div>
                                <div class="circle">
                                    <div class="circle_icon u-shadow"></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <p>Kule Lazy 4</p>
                                        </div>
                                        <p class="circle_txt">簡易輕薄的純 CSS Framework</p>
                                    </div>
                                </div>
                            </div>
                            <div class="f-col:12 f-col@sm:6 f-col@lg:4">
                                <div class="section_header">
                                    <h2 class="section_title u-clr:light">開發工具
                                        <span class="section_subtitle u-clr:light">/ Tools</span>
                                    </h2>
                                </div>
                                <div class="circle">
                                    <div class="circle_icon u-shadow"></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <p>Visual Studio Code</p>
                                        </div>
                                        <p class="circle_txt">撰寫編輯器</p>
                                    </div>
                                </div>
                                <div class="circle">
                                    <div class="circle_icon u-shadow"></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <p>Adobe PS / Adobe XD / Zeplin</p>
                                        </div>
                                        <p class="circle_txt">網站切圖與製作</p>
                                    </div>
                                </div>
                                <div class="circle">
                                    <div class="circle_icon u-shadow"></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <p>MAMP</p>
                                        </div>
                                        <p class="circle_txt">環境建置工具</p>
                                    </div>
                                </div>
                                <div class="circle">
                                    <div class="circle_icon u-shadow"></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <p>Git</p>
                                        </div>
                                        <p class="circle_txt">版本控管</p>
                                    </div>
                                </div>
                            </div>
                            <div class="f-col:12 f-col@sm:6 f-col@lg:4">
                                <div class="section_header">
                                    <h2 class="section_title u-clr:light">其它工具
                                        <span class="section_subtitle u-clr:light">/ Other</span>
                                    </h2>
                                </div>
                                <div class="circle">
                                    <div class="circle_icon u-shadow"></div>
                                    <div class="circle_info">
                                        <div class="circle_title">
                                            <p>Spark AR Studio</p>
                                        </div>
                                        <p class="circle_txt">FB、IG 拍照變臉、互動設計</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="experience" class="section experience">
            <div class="section_inner">

                <div class="container">
                    <div class="section_header">
                        <h2 class="section_title">工作經驗</h2>
                        <p class="section_subtitle">Experience</p>
                    </div>
                    <div class="timeline">
                        <div class="timeline_item clr:fire" v-for="(item,i) in exps"
                            :class="{'is:on': i == 0, 'is:off': i !== 0}">
                            <div class="timeline_axis"></div>
                            <time class="timeline_time">{{item.date}}</time>
                            <div class="timeline_content">
                                <h4>{{item.jobTitle}}</h4>
                                <p class="timeline_txt">{{item.jobInfo}}</p>
                                <a :href="item.address" class="icon-map" target="_blank" rel="noopener"><i
                                        class="fas fa-map-marker-alt"></i> {{item.company}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="works" class="section works">
            <div class="container">
                <div class="section_header">
                    <h2 class="section_title u-clr:light">參與專案</h2>
                    <p class="section_subtitle u-clr:light">Project</p>
                </div>
                <div class="works_list f-row">
                    <div class="works_item f-col:12 f-col@sm:6 f-col@md:4" v-for="(item, i) in works">
                        <div class="card u-shadow">
                            <div class="card_media">

                                <a :href="item.url" class="card_link" :class="{off: item.url.length == 0}"
                                    target="_blank" rel="noopener">
                                    <div class="embed :5by4">
                                        <span class="embed_media" data-lazy="lazy"></span>
                                        <img class="embed_img js-lazy"
                                            :data-original="'images/portfolio/' + item.imgUrl" :alt="item.name">
                                        <div class="embed_lazy"></div>
                                    </div>
                                </a>

                                <div class="card_gallery" v-if="status.galleryModal.state">
                                    <div class="btn-grp :united :square">
                                        <button class="btn"><i class="fas fa-images"></i></button>
                                    </div>
                                </div>
                            </div>
                            <main class="card_body">
                                <a :href="item.url" class="card_link" :class="{off: item.url.length == 0}"
                                    target="_blank" rel="noopener">
                                    <h6 class="card_name">{{item.name}}</h6>
                                    <slot v-if="item.txt">
                                        <p class="card_txt">{{item.txt}}</p>
                                    </slot>
                                </a>
                                <div class="tag sz:sm clr:silver">
                                    <span class="tag_txt">{{formatedTech(item.media)}}</span>
                                </div>
                                <slot v-if="item.tech">
                                    <div class="tag sz:sm" v-for="(el,i) in item.tech" :class="['clr:'+el.color]">
                                        <span class="tag_txt">{{el.name}}</span>
                                    </div>
                                </slot>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="practice" class="section practice">
            <div class="container">
                <div class="section_header">
                    <h2 class="section_title">趣味・遊戲</h2>
                    <p class="section_subtitle">Practice・Idea・Fun</p>
                </div>
                <div class="f-row">
                    <div class="f-col:12 f-col@sm:6 f-col@md:4" v-for="(item,i) in fun">
                        <div class="card u-shadow">
                            <div class="card_media">
                                <a :href="item.url" class="card_link" :class="{off: item.url.length == 0}"
                                    target="_blank" rel="noopener">
                                    <div class="embed :5by4">
                                        <span class="embed_media" data-lazy="lazy"></span>
                                        <img class="embed_img js-lazy" :data-original="'images/fun/' + item.imgUrl"
                                            :alt="item.name">
                                        <div class="embed_lazy"></div>
                                    </div>
                                </a>

                                <div class="card_gallery" v-if="status.galleryModal">
                                    <div class="btn-grp :united :square">
                                        <button class="btn"><i class="fas fa-images"></i></button>
                                    </div>
                                </div>
                            </div>
                            <main class="card_body">
                                <a :href="item.url" class="card_link" :class="{off: item.url.length == 0}"
                                    target="_blank" rel="noopener">
                                    <h6 class="card_name">{{item.name}}</h6>
                                    <slot v-if="item.txt">
                                        <p class="card_txt">{{item.txt}}</p>
                                    </slot>
                                </a>
                                <slot v-if="item.media">
                                    <div class="tag sz:sm clr:silver">
                                        <span class="tag_txt">{{formatedTech(item.media)}}</span>
                                    </div>
                                </slot>
                                <slot v-if="item.tech">
                                    <div class="tag sz:sm" v-for="(el,i) in item.tech" :class="['clr:'+el.color]">
                                        <span class="tag_txt">{{el.name}}</span>
                                    </div>
                                </slot>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="cursor js-cursor active"></div>

        <div class="menunav sty-mb">
            <template v-for="(item,i) in menu.items">
                <a :href="'#'+item.anchor" class="menunav_item" :class="{'active': menu.sec == i+1}" :key="i"
                    @click="goAnchor(item.anchor, i+1)">
                    <span class="menunav_icon"><i :class="item.icon"></i></span>
                    <span class="menunav_txt">{{item.name}}</span>
                </a>
            </template>
            <a href="mailto:ann@kule.tw" class="contact-href menunav_item" target="_blank" rel="noopener">
                <span class="menunav_icon"><i class="fas fa-envelope"></i></span>
                <span class="menunav_txt">Contact Me</span>
            </a>
        </div>

        <div class="menunav sty-pc">
            <template v-for="(item,i) in menu.items">
                <a :href="'#'+item.anchor" class="menunav_item" :class="{'active': menu.sec == i+1}" :key="i"
                    @click="goAnchor(item.anchor, i+1)">
                    <span class="menunav_icon"><i :class="item.icon"></i></span>
                    <span class="menunav_txt">{{item.name}}</span>
                </a>
            </template>
            <a href="mailto:ann@kule.tw" class="contact-href menunav_item" target="_blank" rel="noopener">
                <span class="menunav_icon"><i class="fas fa-envelope"></i></span>
                <span class="menunav_txt">Contact Me</span>
            </a>
        </div>

        <!-- <div class="modal is:on">
            <div class="modal_container">
                <header class="modal_head">
                    <h3 class="modal_title">{{gallery.name}}</h3>
                </header>
                <main class="modal_body">
                    <div class="modal_content">
                        <img :src="'images/gallery/dunnan/'+ gallery.main +'.png'" alt="" srcset="">
                    </div>
                </main>
                <footer class="modal_foot">
                    <div class="thumb">
                        <div class="thumb_item" v-for="(item, i) in gallery.num">
                            <div class="embed :5by4">
                                <span class="embed_media"
                                    :style="{backgroundImage: 'url(images/gallery/dunnan/' + (i+1) + '.png)' }"></span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="modal_mask"></div>
        </div> -->
    </div>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src='js/vue.min.js'></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script>
        // if ('serviceWorker' in navigator) {
        //     navigator.serviceWorker.register('sw.js')
        //         .then(function (swReg) {
        //             console.log('[ServiceWorker] Register');
        //             // console.error('Service Worker registered', swReg);
        //         })
        //         .catch(function (error) {
        //             console.error('Service Worker Error', error);
        //         });
        // }
    </script>
</body>

</html>